/* HOME */

/* * {
    border: 1px solid red !important;
 } */

 * {
  box-sizing: border-box;
}

a {
  margin: 1rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h4 {
  margin: 2rem;
}

h3 {
  margin-bottom: 2rem;
}

.heading {
  margin-top: 2rem;
}

.heading h3 {
  text-align: center;
}

.card-container {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  
}

/* @media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  } */


@media (max-width: 900px) {
  .card-container{
display: flex;
flex-direction: column;
  }
}


.card {
  margin: 2rem;
}

/* choice-page */
.my-container {
  height: 155vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* contact */

.accordion {
  width: 50%;
  margin-top: 5rem;
}

.input-form {
  width: 50%;
  margin: auto;
  border: 2px solid black;
  margin-top: 5rem;
  
}

form,
.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 46rem;
  padding: 2rem;
}

.suicide-form {
  margin-top: 6rem;
  
  
  
}

input {
  width: 50%;
}


/* navbar */


  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

@media (max-width: 460px) {
 nav .logo{
    font-size: 19px;
  }
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #c4380d;
}
nav forms{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav forms .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav forms button{
  padding: 0 15px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav forms button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 3;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav forms{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav forms.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav forms::before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav forms::after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav forms{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}






/* search bar css */

 /* .container{
  font-family: sans-serif;
  background-color: #111d4a;
} */

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.containersearch {
  min-height: 80rem;
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#charactersList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.character {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  display: flex;
  /* grid-template-columns: 3fr 1fr;
  grid-template-areas:
      'name image'
      'address type'; */
      align-items: center;
      flex-direction: column;
  text-align: center;
  
}

.character > h2 {
  /* grid-area: name; */
  margin-bottom: 0px;
}

address.character > p {
  /* grid-area: address; */
  margin: 0;
  margin-top: -18px;
}

.character > img {
  max-height: 100px;
  /* grid-area: image; */
}

.character.type > p {
  grid-area: type;
  
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #fd0000;
  background: rgb(190, 190, 190);
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
}
